/* Dark/blue halo around pic 
contrasting (dark) green frame 
white font
black background
*/

body {
    color: black;
}

#Frame {

    color: #224D18;
    align-content: center;
}

#pic {
    outline: #2821D1;
    align-content: center;
}

img {
    width: 250px;
}